.App {
  font-family: sans-serif;
  text-align: center;

}

.container {
  margin: 4rem;
}
.code-editor {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  height: 400px;
  width: 600px;
  white-space: pre;
  resize: vertical;
  overflow: auto;
}

.button {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
}

.locked {
  background-color: #ff4136;
}

.button:hover {
  background-color: #0056b3;
}


.confirmation-message {
  background-color: #4caf50; 
  color: white; 
  padding: 10px; 
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  width: 100%;
  z-index: 1; 
  transition: 0.5s; 
}

.confirmation-message.hide {
  display: none;
}